@keyframes color-change {
    0% {
      color: blue;
    }
  
    25% {
      color: red;
    }
  
    50% {
      color: rgb(0, 255, 94);
    }
    75% {
        color: rgb(255, 202, 12);  
    }
    100% {
        color: rgb(0, 0, 255);  
    }

}
p:hover { animation: color-change 3s infinite; }

